:root {
    font-family: 'Raleway', sans-serif;
}


/*Styling nav bar*/

.main-nav {
    margin: auto;
    width: 100%;
    height: 300px;
    background-color: #3c3b39;
}

.nav-bar {
    list-style: none;
}

.nav-bar a {
    display:block;
    text-decoration: none;
    font-size: 14pt;
    font-weight: 500;
    color:#f2f2f2; 
}

.nav-bar li {
    display: block;
    text-align: center;
    padding: 17px 10px;
}

.logo img {
    display:block;
    height: 90px;
    margin: 0 auto;
}


/*Adding selectors to nav bar*/

.main-nav .about a:link {
    font-weight: 800;
}

.nav-bar a:hover {
    color:#26a682;
}


/*Styling header container*/

.header-container {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.header-container h1 {
    font-size: 33pt;
    font-weight: 700;
    color:#3c3b39;
    text-align: start;
}

.header-container p {
    font-size: 17pt;
    color:#3c3b39;
    font-weight: 400;
    line-height: 38px;
    text-align: start;
}


/*Styling house image*/

.header-container img {
    margin: 0 auto;
    width: 100%;
    margin-bottom: 50px;
}


/*Styling about section*/

.about-section {
    text-align: end;
    width: 0 auto;
    margin: 0 auto; 
}

.about-header {
    background: linear-gradient(to top, #26a682, #0a6e3f), url("about.jpg") no-repeat top center;
}

.about-section img {
    margin: 0 auto;
    width: 100%;
    opacity:50%;
}

.about-section h1 {
    margin: 0 auto;
    width: 100%;
    position: absolute;
    text-align: center;
    color:#f2f2f2;
    font-size: 45pt;
    font-weight: 700;
    margin-top: -190px;
}

.about-content {
    margin: 0 auto;
    width: 80%;
    text-align: start;
}

.about-content h2 {
    color: #3c3b39;
    font-size: 29pt;
    font-style: italic;
    font-weight: 700;
}

.about-content p {
    font-size:12pt;
    color: #3c3b39;
    line-height: 30pt;
    margin-top:-30px;
    font-weight: 400;
}


/*Styling services section*/

.services-section {
    width: 0 auto;
    margin: 0 auto; 
}

.services-header {
    background: linear-gradient(to top, #26a682, #0a6e3f), url("services.jpg") no-repeat top center;
}

.services-header img {
    margin: 0 auto;
    width: 100%;
    opacity:50%;
}

.services-section h1 {
    margin: 0 auto;
    width: 100%;
    position: absolute;
    text-align: center;
    color:#f2f2f2;
    font-size: 45pt;
    font-weight: 700;
    margin-top: -190px;
}

.services-grid1 {
    margin: 0 auto;
    width: 80%;
    text-align: start;
}

.services-grid1 h2 {
    color: #3c3b39;
    font-size: 28pt;
    font-weight: 700;
}

.services-grid1 h3 {
    color: #26a682;
    font-size: 13pt;
    font-weight: 500;
    margin-top:-8px;
}

.services-grid1 p {
    font-size:12pt;
    color: #3c3b39;
    line-height: 30pt;
    font-weight: 400;
    margin-bottom:30px;
}


/*Services images not displayed on mobile*/

.services-grid1 img, .services-grid2 img {
    display: none;
}


/*Styling gray banner*/

.banner {
    background-color: #3c3b39;
    padding: 20px 20px;
    text-align: center;
}

.banner h2 {
    color:#f2f2f2;
    font-size: 14pt;
    text-align: center;
    font-weight: 500;
}


/*Styling button*/

.banner button {
    font-size: 16pt;
    font-weight: 700;
    text-align: center;
    color: #f2f2f2;
    background-color: #26a682;
    border: none;
    border-radius:50px;
    padding: 10px 20px 10px 20px;
    margin: 0 auto;
    width: 180px;
    margin-bottom:20px;
}


/*Styling rest of services*/


.services-grid2 {
    margin: 0 auto;
    width: 80%;
    text-align: start;
}

.services-grid2 h2 {
    color: #3c3b39;
    font-size: 28pt;
    font-weight: 700;
}

.services-grid2 h3 {
    color: #26a682;
    font-size: 13pt;
    font-weight: 500;
    margin-top:-8px;
}

.services-grid2 p {
    font-size:12pt;
    color: #3c3b39;
    line-height: 30pt;
    font-weight: 400;
    margin-bottom:30px;
}


/*Styling special thanks section*/

.special-thank {
    width: 70%;
    margin: 0 auto;
    
}
.special-thank h1 {
    text-align: center;
    font-size: 42pt;
    line-height: 51pt;
    color: #3c3b39;
    font-weight: 700;
}

.images {
    display:flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.images img {
    max-width: 0 auto;
    margin: 0 auto; 
    width: 180px;
    margin-top: 30px;
}


/*Styling footer*/

footer {
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 50px;
    width: 100%;
    text-align: center;
    background-color: #3c3b39;
    color:#f2f2f2;
    margin-top:40px;
}

footer p {
    font-size: 20pt;
    font-weight: 400;
}

.footer-buttons .fab {
    display: flex;
    flex-wrap:wrap;
}

.footer-buttons button {
    background-color:#3c3b39;
    border:none;
}

.fab {
    text-align: center;
    color:#f2f2f2;
    font-size: 24pt;
}


/*Styling back to top arrow*/

.back-arrow {
    color:#f2f2f2;
    text-align: end;
    font-size: 7pt;
    width: 90%;
}

footer .back-arrow {
    background-color:#3c3b39;
    border:none;
}

footer .fas {
    color: #26a682;
    font-size: 19pt;
    text-align: end;
    margin-right: -37px;
    position: relative;
    bottom: 20px;
}







/*Styling for tablet screen size*/

@media screen and (min-width:600px) {

    /*Styling nav bar*/

    .main-nav {
        margin: 0 auto;
        width: 100%;
        height: 60px;
        background-color: #3c3b39;
    }

    .nav-bar {
        list-style: none;
        display:flex;
        flex-wrap: wrap;
    }

    .nav-bar a {
        text-decoration: none;
        font-size: 12pt;
        font-weight: 400;
        color:#f2f2f2;
    }

    .nav-bar img {
        height: 65px;
        margin-top: -20px;
    }

    .nav-bar li {
        float:right;
        display: block;
        padding: 17px 50px 0px 10px;
        text-decoration: none;
    }


    /*Styling header container*/

    .header-container {
        margin: 0 auto;
        width: 85%;
        text-align: center;
    }

    .header-container h1 {
        font-size: 39pt;
        font-weight: 700;
        color:#3c3b39;
        text-align: start;
    }

    .header-container p {
        font-size: 14pt;
        color:#3c3b39;
        font-weight: 500;
        line-height: 27px;
        text-align: start;
    }


    /*Styling house image*/

    .header-container img {
        margin: 0 auto;
        width: 80%;
        margin-bottom: 40px;
    }


    /*Styling about section*/

    .about-section {
        text-align: end;
        width: 0 auto;
        margin: 0 auto; 
    }

    .about-header {
        background: linear-gradient(to top, #26a682, #0a6e3f), url("about.jpg") no-repeat top center;
    }

    .about-section img {
        margin: 0 auto;
        width: 100%;
        opacity:50%;
        height:200px;
    }

    .about-section h1 {
        margin: 0 auto;
        width: 100%;
        position: absolute;
        text-align: center;
        color:#f2f2f2;
        font-size: 40pt;
        font-weight: 600;
        margin-top: -140px;
    }

    .about-content {
        margin: 0 auto;
        width: 80%;
        text-align: start;
        margin-bottom:30px;
    }

    .about-content h2 {
        color: #3c3b39;
        font-size: 24pt;
        font-style: italic;
        font-weight: 700;
    }

    .about-content p {
        font-size:12pt;
        color: #3c3b39;
        line-height: 27pt;
        margin-top:-20px;
        font-weight: 400;
    }


    /*Styling services section*/

    .services-section {
        width: 0 auto;
        margin: 0 auto; 
    }

    .services-header {
        background: linear-gradient(to top, #26a682, #0a6e3f), url("services.jpg") no-repeat top center;
    }

    .services-header img {
        margin: 0 auto;
        width: 100%;
        opacity:50%;
        height:200px;
    }

    .services-section h1 {
        margin: 0 auto;
        width: 100%;
        position: absolute;
        text-align: center;
        color:#f2f2f2;
        font-size: 40pt;
        font-weight: 600;
        margin-top: -140px;
    }


    /*Styling services with flexbox and add images on tablet version*/

    .restaurant-content {
        margin: 0 auto;
        width: 0 auto;
        display: flex;
        flex-wrap:nowrap;
        text-align: start;
        margin-top: 80px;
        padding-bottom:40px;
    }

    .bowling-content {
        margin: 0 auto;
        width: 0 auto;
        display: flex;
        flex-wrap:nowrap;
        flex-direction: row-reverse;
        text-align: start;
        margin-top: 20px;
        padding-bottom:40px;
    }

    .services-grid1 img, .services-grid2 img {
        display:block;
        width: 150px;
        height:300px;
        position: relative;
    }


    /*Grid adjustments*/

    .services-grid1 h2 {
        color: #3c3b39;
        font-size: 24pt;
        font-weight: 700;
        margin-left:20px;
    }
    
    .services-grid1 h3 {
        color: #26a682;
        font-size: 18pt;
        font-weight: 500;
        margin-top:-8px;
        margin-left:20px;
    }
    
    .services-grid1 p {
        font-size:11pt;
        color: #3c3b39;
        line-height: 23pt;
        font-weight: 400;
        margin-top:-15px;
        margin-left:20px;
    }

   
    /*Styling gray banner*/

    .banner {
        background-color: #3c3b39;
        padding: 20px 20px;
        text-align: end;
        margin: 0 auto;
        width: 0 auto;
        display: flex;
    }

    .banner-content {
        margin: auto;
        width: 80%;
        display: flex;
    }

    .banner h2 {
        color:#f2f2f2;
        font-size: 15pt;
        text-align: start;
        font-weight: 500;
    }


    /*Styling button*/

    .banner button {
        font-size: 14pt;
        font-weight: 700;
        text-align: center;
        color: #f2f2f2;
        background-color: #26a682;
        border: none;
        border-radius:50px;
        padding: 0px 10px;
        margin: 0 auto;
        width: 150px;
    }


    /*Styling services with flexbox*/

    .fitness-content {
        margin: 0 auto;
        width: 0 auto;
        display: flex;
        flex-wrap:nowrap;
        text-align: start;
        margin-top: 80px;
        padding-bottom:40px;
    }

    .climbing-content {
        margin: 0 auto;
        width: 0 auto;
        display: flex;
        flex-wrap:nowrap;
        flex-direction: row-reverse;
        text-align: start;
        margin-top: 20px;
        padding-bottom:40px;
    }


    /*Grid adjustments*/

    .services-grid2 h2 {
        color: #3c3b39;
        font-size: 24pt;
        font-weight: 700;
        margin-left:20px;
    }
    
    .services-grid2 h3 {
        color: #26a682;
        font-size: 18pt;
        font-weight: 500;
        margin-top:-8px;
        margin-left:20px;
    }
    
    .services-grid2 p {
        font-size:11pt;
        color: #3c3b39;
        line-height: 23pt;
        font-weight: 400;
        margin-top:-15px;
        margin-left:20px;
    }


    /*Styling special thanks section*/

    .special-thank {
        width: 55%;
        margin: 0 auto;        
    }

    .special-thank h1 {
        text-align: center;
        font-size: 33pt;
        line-height: 43pt;
        color: #3c3b39;
        font-weight: 700;
    }

    .images {
        width: 30%;
        margin: 0 auto;
        display:flex;
        flex-wrap: wrap;
        margin-top: 40px;
    }

    .images img {
        max-width: 0 auto;
        margin: 0 auto; 
        width: 130px;
        margin-top: 30px;
    }


    /*Styling footer*/

    footer {
        margin: 0 auto;
        padding-top: 15px;
        padding-bottom: 20px;
        width: 100%;
        text-align: center;
        background-color: #3c3b39;
        color:#f2f2f2;
        margin-top: 40px;
    }

    footer p {
        font-size: 18pt;
        font-weight: 400;
    }

    .footer-buttons .fab {
        display: flex;
        flex-wrap:wrap;
    }

    .footer-buttons button {
        background-color:#3c3b39;
        border:none;
    }

    .fab {
        text-align: center;
        color:#f2f2f2;
        font-size: 22pt;
    }


    /*Styling back to top arrow*/

    .back-arrow {
        color:#f2f2f2;
        text-align: end;
        font-size: 7pt;
        width: 90%;
    }

    footer .back-arrow {
        background-color:#3c3b39;
        border:none;
    }

    footer .fas {
        color: #26a682;
        font-size: 19pt;
        text-align: end;
        margin-right: -37px;
        position: relative;
    }

}


/*Styling for desktop size*/

@media screen and (min-width:992px) {

    /*Styling nav bar*/

    .main-nav {
        margin: 0 auto;
        width: 100%;
        height: 60px;
        background-color:#3c3b39;
    }

    .nav-bar {
        list-style: none;
        display:flex;
        flex-wrap: wrap;
    }

    .nav-bar a {
        text-decoration: none;
        font-size: 12pt;
        font-weight: 400;
        color:#f2f2f2;
    }

    .nav-bar img {
        height: 65px;
        margin-top: -20px;
        width:200px;
    }

    .nav-bar li {
        float:right;
        display: block;
        padding: 17px 50px 0px 10px;
        text-decoration: none;
    }


    /*Styling header container*/

    .header-container {
        margin: 0 auto;
        width: 85%;
        display: flex;
        flex-wrap: nowrap;
        text-align: start;
        padding-top:60px;
    }

    .header-container h1 {
        font-size: 27pt;
        font-weight: 700;
        color:#3c3b39;
        text-align: start;
        width:75%;
    }

    .header-container p {
        font-size: 12pt;
        color:#3c3b39;
        font-weight: 500;
        line-height: 23px;
        text-align: start;
        width:75%;
        margin-bottom: 35px;
    }


    /*Styling image*/

    .header-container img {
        margin: 0 auto;
        width: 45%;
        margin-bottom: 35px;
    }


    
    /*Styling about section*/

    .about-section {
        text-align: end;
        width: 0 auto;
        margin: 0 auto; 
    }

    .about-header {
        background: linear-gradient(to top, #26a682, #0a6e3f), url("about.jpg") no-repeat top center;
    }

    .about-section img {
        margin: 0 auto;
        width: 100%;
        opacity:50%;
        height:200px;
    }

    .about-section h1 {
        margin: 0 auto;
        width: 100%;
        position: absolute;
        text-align: center;
        color:#f2f2f2;
        font-size: 37pt;
        font-weight: 600;
        margin-top: -130px;
    }

    .about-content {
        margin: 0 auto;
        width: 80%;
        text-align: start;
        margin-top:80px;
        margin-bottom:80px;
        
        /*using flex to style who, what and where*/
        display: flex;
    }

    .about-content h2 {
        color: #3c3b39;
        font-size: 20pt;
        font-style: italic;
        font-weight: 700;
    }

    .about-content p {
        font-size:10pt;
        width: 80%;
        color: #3c3b39;
        line-height: 20pt;
        margin-top:10px;
        font-weight: 400;
    }


    /*Styling services section*/

    .services-section {
        text-align: end;
        width: 0 auto;
        margin: 0 auto; 
    }

    .services-header {
        background: linear-gradient(to top, #26a682, #0a6e3f), url("about.jpg") no-repeat top center;
    }

    .services-header img {
        margin: 0 auto;
        width: 100%;
        opacity:50%;
        height:200px;
    }

    .services-section h1 {
        margin: 0 auto;
        width: 100%;
        position: absolute;
        text-align: center;
        color:#f2f2f2;
        font-size: 37pt;
        font-weight: 600;
        margin-top: -130px;
    }



    /*Styling services with flexbox*/

    .restaurant-content {
        margin: 0 auto;
        width: 0 auto;
        display: flex;
        flex-wrap:nowrap;
        text-align: start;
        margin-top: 80px;
        padding-bottom:40px;
    }

    .bowling-content {
        margin: 0 auto;
        width: 0 auto;
        display: flex;
        flex-wrap:nowrap;
        flex-direction: row-reverse;
        text-align: start;
        margin-top: 20px;
        padding-bottom:40px;
    }

    .services-grid1 img, .services-grid2 img {
        display:block;
        width: 800px;
        height:250px;
        position: relative;
    }


    /*Grid adjustments*/

    .services-grid1 h2 {
        color: #3c3b39;
        font-size: 20pt;
        font-weight: 700;
        margin-left:20px;
    }

    .services-grid1 h3 {
        color: #26a682;
        font-size: 16pt;
        font-weight: 500;
        margin-top:-8px;
        margin-left:20px;
    }

    .services-grid1 p {
        font-size:9pt;
        color: #3c3b39;
        line-height: 20pt;
        font-weight: 400;
        margin-top:-15px;
        margin-left:20px;
    }


    /*Styling gray banner*/

    .banner {
        background-color: #3c3b39;
        padding: 20px 20px;
        text-align: end;
        margin: 0 auto;
        width: 0 auto;
        height:20px;
        display: flex;
    }

    .banner-content {
        margin: 0 auto;
        width: 80%;
        display: flex;
    }

    .banner h2 {
        color:#f2f2f2;
        font-size: 14pt;
        text-align: start;
        font-weight: 500;
        margin-top:-4px;
    }


    /*Styling button*/

    .banner button {
        font-size: 14pt;
        font-weight: 600;
        text-align: center;
        color: #f2f2f2;
        background-color: #26a682;
        border: none;
        border-radius:50px;
        padding: 0px 10px;
        margin: 0 auto;
        margin-top:-4px;
        width: 150px;
        height:28px;
    }


    /*Styling services with flexbox*/

    .fitness-content {
        margin: 0 auto;
        width: 0 auto;
        display: flex;
        flex-wrap:nowrap;
        text-align: start;
        margin-top: 80px;
        padding-bottom:40px;
    }

    .climbing-content {
        margin: 0 auto;
        width: 0 auto;
        display: flex;
        flex-wrap:nowrap;
        flex-direction: row-reverse;
        text-align: start;
        margin-top: 20px;
        padding-bottom:40px;
    }


    /*Grid adjustments*/

    .services-grid2 h2 {
        color: #3c3b39;
        font-size: 20pt;
        font-weight: 700;
        margin-left:20px;
    }

    .services-grid2 h3 {
        color: #26a682;
        font-size: 16pt;
        font-weight: 500;
        margin-top:-8px;
        margin-left:20px;
    }

    .services-grid2 p {
        font-size:9pt;
        color: #3c3b39;
        line-height: 20pt;
        font-weight: 400;
        margin-top:-15px;
        margin-left:20px;
    }


    /*Styling special thanks section*/

    .special-thank {
        margin: auto;        
    }

    .special-thank h1 {
        text-align: center;
        font-size: 30pt;
        line-height: 37pt;
        color: #3c3b39;
        font-weight: 700;
    }

    .images {
        width: auto;
        margin: auto;
        display:flex;
        flex-wrap: nowrap;
        margin-top: 10px;
        margin-bottom:70px;
    }

    .images img {
        max-width: 0 auto;
        width: 100%;
        max-height: 0 auto;
        height:100px;
        margin: 0 auto; 
        margin-top: 30px;
        padding: 10px 10px;
    }


    /*Styling footer*/

    footer {
        margin: 0 auto;
        padding-top: 15px;
        padding-bottom: 20px;
        width: 100%;
        text-align: center;
        background-color: #3c3b39;
        color:#f2f2f2
    }

    footer p {
        font-size: 15pt;
        font-weight: 400;
    }

    .footer-buttons .fab {
        display: flex;
        flex-wrap:wrap;
    }

    .footer-buttons button {
        background-color:#3c3b39;
        border:none;
    }

    .fab {
        text-align: center;
        color:#f2f2f2;
        font-size: 20pt;
    }


    /*Styling back to top arrow*/

    .back-arrow {
        color:#f2f2f2;
        text-align: end;
        font-size: 7pt;
        width: 90%;
    }

    footer .back-arrow {
        background-color:#3c3b39;
        border:none;
    }

    footer .fas {
        color: #26a682;
        font-size: 28pt;
        text-align: end;
        margin-right: -41px;
        position: relative;
    }

}