:root {
    font-family: 'Raleway', sans-serif;
}

/*Focus state for nav bar links*/
a:focus{
    outline: 2px solid #26a682;
}


/*Skip links*/

.skip-links {
    margin: 0;
    padding:0;
    list-style: none;
}
  
.skip-links a, a:visited {
    position: absolute;
    text-decoration: none;
    color: #e8e5d9;
    top: -3em;
}
  
.skip-links a:focus {
    top: 0;
    position: fixed;
    color: #e8e34f;
    background-color: black;
}


/*Styling nav bar*/

.main-nav {
    margin: auto;
    width: 100%;
    height: 300px;
    background-color: #3c3b39;
}

.nav-bar {
    list-style: none;
}

.nav-bar a {
    display:block;
    text-decoration: none;
    font-size: 14pt;
    font-weight: 500;
    color:#f2f2f2; 
}

.nav-bar li {
    display: block;
    text-align: center;
    padding: 17px 10px;
}

.logo img {
    display:block;
    height: 90px;
    margin: 0 auto;
}


/*Adding selectors to nav bar*/

.main-nav .home a:link {
    font-weight: 800;
}

.nav-bar a:hover {
    color:#26a682;
}


/*Styling header container*/

.header-container {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.header-container h1 {
    font-size: 33pt;
    font-weight: 700;
    color:#3c3b39;
    text-align: start;
}

.header-container p {
    font-size: 17pt;
    color:#3c3b39;
    font-weight: 400;
    line-height: 38px;
    text-align: start;
}


/*Styling icons and text*/

.fas {
    color:#3c3b39;
    font-size:2.5rem;
    margin: 0 auto;
}

.icons p {
    font-size: 14pt;
    color: #26a682;
    font-weight: 400;
    margin-top: auto;
    text-align: center;
}


/*Using flexbox to rearrange icons*/

.icons {
    display: flex;
    flex-wrap:wrap;
    margin: 0 auto;
    width: auto;
    height:auto;
    text-align: center;
}

.icons .bowling {
    flex-grow:1;
    flex-basis:40%;
    margin-right: 70px;
}

.icons .climbing {
    flex-grow:1;
    flex-basis:40%;
}

.icons .fitness {
    flex-grow:1;
    flex-basis:40%;
    margin-right: 70px;
}

.icons .court {
    flex-grow:1;
    flex-basis:40%;
}


/*Styling button*/

.header-container button {
    font-size: 25pt;
    font-weight: 700;
    text-align: center;
    color: #f2f2f2;
    background-color: #26a682;
    border: none;
    border-radius:50px;
    padding: 10px 20px 10px 20px;
    margin: 0 auto;
    width: 350px;
    box-shadow: 2px 8px 15px lightslategray;
    margin-bottom: 60px;
}


/*Animating button*/

@keyframes scaleButton {
	0% {
		transform:scale(1);
	}

	33% {
		transform:scale(1.2);
	}

	66% {
		transform:scale(1.2);
	}

	100% {
		transform:scale(1);
	}
}

.header-container button:hover {
	animation-name: scaleButton;
	animation-duration: 2s;
}



/*Styling image*/

.header-container img {
    margin: 0 auto;
    width: 100%;
}


/*Styling main content, scroll icon not visible on mobile*/

.scroll {
    display: none;
}

.discover1 {
    text-align: end;
    width: 0 auto;
    margin: 0 auto;
}

.discover1 img {
    margin: 0 auto;
    width: 100%;
}

.discover1 h2 {
    margin: 0 auto;
    margin-top:25px;
    width: 80%;
    color: #3c3b39;
    font-size: 29pt;
    font-style: italic;
    font-weight: 600;
    text-align: start;
}

.discover1 h3 {
    margin: 0 auto;
    width: 80%;
    color:#26a682;
    font-size: 19pt;
    font-weight: 500;
    margin-top:8px;
    text-align: start;
}

.discover1 p {
    margin: 0 auto;
    width: 80%;
    color:#3c3b39;
    font-size: 12pt;
    font-weight: 400;
    line-height: 30pt;
    margin-top:8px;
    text-align: start;
    margin-bottom: 25px;
}

.discover1 button {
    margin: 0 auto;
    width: 190px;
    font-size: 18pt;
    font-weight: 700;
    text-align: center;
    color: #f2f2f2;
    background-color: #26a682;
    border: none;
    border-radius:50px;
    padding: 10px 20px 10px 20px;
    box-shadow: 2px 8px 15px lightslategray;
    margin-bottom: 70px;
    margin-right:9%;
}

/*Animating button*/

@keyframes scaleButton {
	0% {
		transform:scale(1);
	}

	33% {
		transform:scale(1.2);
	}

	66% {
		transform:scale(1.2);
	}

	100% {
		transform:scale(1);
	}
}

.discover1 button:hover {
	animation-name: scaleButton;
	animation-duration: 2s;
}


/*Styling main content > SA President banner*/

.president {
    background-color: #3c3b39;
    margin: 0 auto;
    width: 100%;
    height:auto;
    padding: 20px 0px 20px 0px;
    color: #f2f2f2;
    text-align: center;
}

.president img {
    margin: 0 auto;
    width: 40%;
    border: 6px solid #f2f2f2;
    border-radius:100%;
}

.president h4 {
    font-size: 19pt;
    line-height: 27pt;
}

.president p {
    margin: 0 auto;
    width: 80%;
    font-size: 12pt;
    font-weight: 400;
    line-height: 30pt;
    text-align: start;
    margin-bottom: 25px;
}


/*Styling discover2*/


.discover2 {
    text-align: end;
    width: 0 auto;
    margin: 0 auto;
}

.discover2 img {
    margin: 0 auto;
    width: 100%;
}

.discover2 h2 {
    margin: 0 auto;
    margin-top:25px;
    width: 80%;
    color: #3c3b39;
    font-size: 29pt;
    font-style: italic;
    font-weight: 600;
    text-align: start;
}

.discover2 h3 {
    margin: 0 auto;
    width: 80%;
    color:#26a682;
    font-size: 19pt;
    font-weight: 500;
    margin-top:8px;
    text-align: start;
}

.discover2 p {
    margin: 0 auto;
    width: 80%;
    color:#3c3b39;
    font-size: 12pt;
    font-weight: 400;
    line-height: 30pt;
    margin-top:8px;
    text-align: start;
    margin-bottom: 25px;
}

.discover2 button {
    margin: 0 auto;
    width: 190px;
    font-size: 18pt;
    font-weight: 700;
    text-align: center;
    color: #f2f2f2;
    background-color: #26a682;
    border: none;
    border-radius:50px;
    padding: 10px 20px 10px 20px;
    box-shadow: 2px 8px 15px lightslategray;
    margin-bottom: 70px;
    margin-right:9%;
}

/*Animating button*/

@keyframes scaleButton {
	0% {
		transform:scale(1);
	}

	33% {
		transform:scale(1.2);
	}

	66% {
		transform:scale(1.2);
	}

	100% {
		transform:scale(1);
	}
}

.discover2 button:hover {
	animation-name: scaleButton;
	animation-duration: 2s;
}


/*Styling footer*/

footer {
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 50px;
    width: 100%;
    text-align: center;
    background-color: #3c3b39;
    color:#f2f2f2;
}

footer p {
    font-size: 20pt;
    font-weight: 400;
}

.footer-buttons .fab {
    display: flex;
    flex-wrap:wrap;
}

.footer-buttons button {
    background-color:#3c3b39;
    border:none;
}

.fab {
    text-align: center;
    color:#f2f2f2;
    font-size: 24pt;
}


/*Styling back to top arrow*/

.back-arrow {
    color:#f2f2f2;
    text-align: end;
    font-size: 7pt;
    width: 90%;
}

footer .back-arrow {
    background-color:#3c3b39;
    border:none;
}

footer .fas {
    color: #26a682;
    font-size: 19pt;
    text-align: end;
    margin-right: -37px;
    position: relative;
    bottom: 20px;
}








/*Styling for tablet screen size*/

@media screen and (min-width:600px) {

    /*Styling nav bar*/

    .main-nav {
        margin: 0 auto;
        width: 100%;
        height: 60px;
        background-color: #3c3b39;
    }

    .nav-bar {
        list-style: none;
        display:flex;
        flex-wrap: wrap;
    }

    .nav-bar a {
        text-decoration: none;
        font-size: 12pt;
        font-weight: 400;
        color:#f2f2f2;
    }

    .nav-bar img {
        height: 65px;
        margin-top: -20px;
    }

    .nav-bar li {
        float:right;
        display: block;
        padding: 17px 50px 0px 10px;
        text-decoration: none;
    }


    /*Styling header container*/

    .header-container {
        margin: 0 auto;
        width: 85%;
        text-align: center;
    }

    .header-container h1 {
        font-size: 43pt;
        font-weight: 700;
        color:#3c3b39;
        text-align: start;
    }

    .header-container p {
        font-size: 14pt;
        color:#3c3b39;
        font-weight: 500;
        line-height: 27px;
        text-align: start;
    }

    /*Styling icons and text*/

    .fas {
        color:#3c3b39;
        font-size:2rem;
        margin: 0 auto;
    }

    .icons p {
        font-size: 10pt;
        color: #26a682;
        font-weight: 400;
        margin-top: auto;
        text-align: center;
    }


    /*Using flexbox to rearrange icons*/

    .icons {
        display: flex;
        flex-wrap:nowrap;
        margin: 0 auto;
        width: auto;
        height:auto;
    }

    .icons .bowling {
        flex-grow:1;
        flex-basis:auto;
    }

    .icons .climbing {
        flex-grow:1;
        flex-basis:auto;
    }

    .icons .fitness {
        flex-grow:1;
        flex-basis:auto;
    }

    .icons .court {
        flex-grow:1;
        flex-basis:auto;
    }


    /*Styling button*/

    .header-container button {
        font-size: 23pt;
        font-weight: 700;
        text-align: center;
        color: #f2f2f2;
        background-color: #26a682;
        border: none;
        border-radius:50px;
        padding: 10px 20px 10px 20px;
        margin: 0 auto;
        width: 230px;
        box-shadow: 2px 8px 15px lightslategray;
        margin-bottom: 60px;
    }


    /*Styling image*/

    .header-container img {
        margin: 0 auto;
        width: 60%;
        margin-bottom: -35px;
    }


    /*Styling main content, scroll icon visible*/

    .scroll {
        display: block;
        text-align: center;
        font-size: 9pt;
        margin-bottom:35px;
    }

    .fa-arrow-circle-down {
        color:#26a682;
        font-size: 19pt;
    }


    .discover1 {
        text-align: end;
        width: 0 auto;
        margin: auto;
        max-height: 100%;
    }

    .discover1 img {
        margin: 0 auto;
        width: 100%;
        height: 200px;
    }

    .discover1 h2 {
        margin: 0 auto;
        margin-top:22px;
        width: 80%;
        color: #3c3b39;
        font-size: 27pt;
        font-style: italic;
        font-weight: 600;
        text-align: start;
    }

    .discover1 h3 {
        margin: 0 auto;
        width: 80%;
        color:#26a682;
        font-size: 18pt;
        font-weight: 500;
        margin-top:8px;
        text-align: start;
    }

    .discover1 p {
        margin: 0 auto;
        width: 80%;
        color:#3c3b39;
        font-size: 10pt;
        font-weight: 400;
        line-height: 20pt;
        margin-top:8px;
        text-align: start;
        margin-bottom: 25px;
    }

    .discover1 button {
        margin: 0 auto;
        width: 190px;
        font-size: 15pt;
        font-weight: 700;
        text-align: center;
        color: #f2f2f2;
        background-color: #26a682;
        border: none;
        border-radius:50px;
        padding: 7px 20px 7px 20px;
        box-shadow: 2px 8px 15px lightslategray;
        margin-bottom: 20px;
        margin-right:9%;
    }


    /*Styling main content > SA President banner*/

    .president {
        background-color: #3c3b39;
        margin: 0 auto;
        width: 0 auto;
        height:auto;
        padding: 20px 0px 20px 0px;
        color: #f2f2f2;
        text-align: center;
        display: flex;
        padding-top:30px;
        padding-bottom:30px;
    }

    .block {
        margin: 0 auto;
        width: 0 auto;
    }
    .president img {
        margin: 0 auto;
        width:130px;
        height:130px;
        border: 6px solid #f2f2f2;
        border-radius:100%;
    }

    .president h4 {
        font-size: 14pt;
        line-height: 20pt;
    }

    .president p {
        margin: 0 auto;
        width: 50%;
        font-size: 12pt;
        font-weight: 500;
        line-height: 23pt;
        text-align: start;
    }


    /*Styling discover2*/

    .discover2 {
        text-align: end;
        width: 0 auto;
        margin: auto;
        max-height: 100%;
    }

    .discover2 img {
        margin: 0 auto;
        width: 100%;
        height: 200px;
    }

    .discover2 h2 {
        margin: 0 auto;
        margin-top:22px;
        width: 80%;
        color: #3c3b39;
        font-size: 27pt;
        font-style: italic;
        font-weight: 600;
        text-align: start;
    }

    .discover2 h3 {
        margin: 0 auto;
        width: 80%;
        color:#26a682;
        font-size: 18pt;
        font-weight: 500;
        margin-top:8px;
        text-align: start;
    }

    .discover2 p {
        margin: 0 auto;
        width: 80%;
        color:#3c3b39;
        font-size: 10pt;
        font-weight: 400;
        line-height: 20pt;
        margin-top:8px;
        text-align: start;
        margin-bottom: 25px;
    }

    .discover2 button {
        margin: 0 auto;
        width: 190px;
        font-size: 15pt;
        font-weight: 700;
        text-align: center;
        color: #f2f2f2;
        background-color: #26a682;
        border: none;
        border-radius:50px;
        padding: 7px 20px 7px 20px;
        box-shadow: 2px 8px 15px lightslategray;
        margin-bottom: 37px;
        margin-right:9%;
    }


    /*Styling footer*/

    footer {
        margin: 0 auto;
        padding-top: 15px;
        padding-bottom: 20px;
        width: 100%;
        text-align: center;
        background-color: #3c3b39;
        color:#f2f2f2;
    }

    footer p {
        font-size: 18pt;
        font-weight: 400;
    }

    .footer-buttons .fab {
        display: flex;
        flex-wrap:wrap;
    }

    .footer-buttons button {
        background-color:#3c3b39;
        border:none;
    }

    .fab {
        text-align: center;
        color:#f2f2f2;
        font-size: 22pt;
    }


    /*Styling back to top arrow*/

    .back-arrow {
        color:#f2f2f2;
        text-align: end;
        font-size: 7pt;
        width: 90%;
    }

    footer .back-arrow {
        background-color:#3c3b39;
        border:none;
    }

    footer .fas {
        color: #26a682;
        font-size: 19pt;
        text-align: end;
        margin-right: -37px;
        position: relative;
    }

}











/*Styling for desktop size*/

@media screen and (min-width:992px) {
    
    /*Styling nav bar*/

    .main-nav {
        margin: 0 auto;
        width: 100%;
        height: 60px;
        background-color:#3c3b39;
    }

    .nav-bar {
        list-style: none;
        display:flex;
        flex-wrap: wrap;
    }

    .nav-bar a {
        text-decoration: none;
        font-size: 12pt;
        font-weight: 400;
        color:#f2f2f2;
    }

    .nav-bar img {
        height: 65px;
        margin-top: -20px;
        width:200px;
    }

    .nav-bar li {
        float:right;
        display: block;
        padding: 17px 50px 0px 10px;
        text-decoration: none;
    }

    /*Styling header container*/

    .header-container {
        margin: 0 auto;
        width: 85%;
        display: flex;
        flex-wrap: nowrap;
        text-align: start;
        padding-top:70px;
    }

    .header-container h1 {
        font-size: 27pt;
        font-weight: 700;
        color:#3c3b39;
        text-align: start;
    }

    .header-container p {
        font-size: 12pt;
        color:#3c3b39;
        font-weight: 500;
        line-height: 23px;
        text-align: start;
    }


    /*Styling icons and text*/

    .fas {
        color:#3c3b39;
        font-size:1.4rem;
        margin: 0 auto;
    }

    .icons p {
        font-size: 8pt;
        color: #26a682;
        font-weight: 400;
        margin-top: auto;
        text-align: center;
    }


    /*Styling button*/

    .header-container button {
        font-size: 18pt;
        font-weight: 600;
        text-align: center;
        color: #f2f2f2;
        background-color: #26a682;
        border: none;
        border-radius:50px;
        padding: 7px 5px 7px 5px;
        margin: 0 auto;
        width: 200px;
        box-shadow: 2px 8px 15px lightslategray;
        margin-bottom: 60px;
    }


    /*Styling image*/

    .header-container img {
        margin: 0 auto;
        width: 45%;
        margin-bottom: -35px;
    }


    /*Styling main content, scroll icon visible*/

    .scroll {
        display: block;
        text-align: center;
        font-size: 9pt;
        margin-bottom:35px;
    }

    .fa-arrow-circle-down {
        color:#26a682;
        font-size: 23pt;
    }

   
    .discover1 {
        margin: 0 auto;
        width: 0 auto;
        max-width:85%;
        display: flex;
        flex-wrap: nowrap;
        text-align: end;
        margin-top: 80px;
        padding-bottom:40px;
    }

    .discover1 img {
        margin: 0 auto;
        width: 100%;
        height: 300px;
    }

    .discover1 h2 {
        margin: 0 auto;
        margin-top:22px;
        width: 80%;
        color: #3c3b39;
        font-size: 22pt;
        font-style: italic;
        font-weight: 600;
        text-align: start;
    }

    .discover1 h3 {
        margin: 0 auto;
        width: 80%;
        color:#26a682;
        font-size: 16pt;
        font-weight: 500;
        margin-top:8px;
        text-align: start;
    }

    .discover1 p {
        margin: 0 auto;
        width: 0 auto;
        max-width:85%;
        color:#3c3b39;
        font-size: 10pt;
        font-weight: 400;
        line-height: 20pt;
        margin-top:8px;
        text-align: start;
        margin-bottom: 25px;
    }

    .discover1 button {
        margin: 0 auto;
        width: 160px;
        font-size: 13pt;
        font-weight: 700;
        text-align: center;
        color: #f2f2f2;
        background-color: #26a682;
        border: none;
        border-radius:50px;
        padding: 7px 20px 7px 20px;
        box-shadow: 2px 8px 15px lightslategray;
        margin-bottom: 20px;
    }


    /*Styling main content > SA President banner*/

    .president {
        background-color: #3c3b39;
        margin: 0 auto;
        width: 0 auto;
        height:100px;
        padding: 20px 0px 20px 0px;
        color: #f2f2f2;
        text-align: center;
        display: flex;
        flex-wrap:wrap;
        padding-top:30px;
        padding-bottom:30px;
    }

    .block {
        margin: 0 auto;
        width: 0 auto;
        display: flex;
    }

    .president img {
        margin: 0 auto;
        width:90px;
        height:90px;
        border: 6px solid #f2f2f2;
        border-radius:100%;
        margin-right:40px;
    }

    .president h4 {
        font-size: 13pt;
        line-height: 20pt;
        padding-left:60px;
    }

    .president p {
        margin: 0 auto;
        width: 50%;
        font-size: 12pt;
        font-weight: 400;
        line-height: 18pt;
        text-align: start;
    }


    .discover2 {
        margin: 0 auto;
        width: 0 auto;
        max-width:95%;
        display: flex;
        flex-wrap:nowrap;
        flex-direction: row-reverse;
        text-align: end;
        margin-top: 80px;
        padding-bottom:40px;
    }

    .discover2 img {
        margin: 0 auto;
        width: 90%;
        height: 300px;
        margin-right:80px;
    }

    .discover2 h2 {
        margin: 0 auto;
        margin-top:22px;
        width: 80%;
        color: #3c3b39;
        font-size: 22pt;
        font-style: italic;
        font-weight: 600;
        text-align: start;
    }

    .discover2 h3 {
        margin: 0 auto;
        max-width:80%;
        width: 100%;
        color:#26a682;
        font-size: 16pt;
        font-weight: 500;
        margin-top:8px;
        text-align: start;
    }

    .discover2 p {
        margin: 0 auto;
        width: 0 auto;
        max-width:85%;
        color:#3c3b39;
        font-size: 10pt;
        font-weight: 400;
        line-height: 20pt;
        margin-top:8px;
        text-align: start;
        margin-bottom: 25px;
    }

    .discover2 button {
        margin: 0 auto;
        width: 160px;
        font-size: 13pt;
        font-weight: 700;
        text-align: center;
        color: #f2f2f2;
        background-color: #26a682;
        border: none;
        border-radius:50px;
        padding: 7px 20px 7px 20px;
        box-shadow: 2px 8px 15px lightslategray;
        margin-bottom: 20px;
        margin-right:50px;
    }


    /*Styling footer*/

    footer {
        margin: 0 auto;
        padding-top: 15px;
        padding-bottom: 20px;
        width: 100%;
        text-align: center;
        background-color: #3c3b39;
        color:#f2f2f2
    }

    footer p {
        font-size: 15pt;
        font-weight: 400;
    }

    .footer-buttons .fab {
        display: flex;
        flex-wrap:wrap;
    }

    .footer-buttons button {
        background-color:#3c3b39;
        border:none;
    }

    .fab {
        text-align: center;
        color:#f2f2f2;
        font-size: 20pt;
    }


    /*Styling back to top arrow*/

    .back-arrow {
        color:#f2f2f2;
        text-align: end;
        font-size: 7pt;
        width: 90%;
    }

    footer .back-arrow {
        background-color:#3c3b39;
        border:none;
    }

    footer .fas {
        color: #26a682;
        font-size: 28pt;
        text-align: end;
        margin-right: -41px;
        position: relative;
    }

}